{{!< default}}

{{#post}}

<section class="container">
  
	<article class="{{post_class}} single">
        <header class="header-post">
      		<h2 class="title-post">{{{title}}}</h2>
        </header>		
        <section class="content-post">
			{{content}}
		</section>

		{{/post}}

  	</article>

</section>